name: Test installer

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - macos-15-intel
        shell:
          - dash
          - bash
          - zsh
        args:
          - name: bare
            value: ""
          - name: versioned
            value: "-v 0.18.0"
        exclude:
          - { os: macos-latest, shell: dash }
          - { os: macos-15-intel, shell: dash }

    name: Test installer (${{ matrix.os }}, ${{ matrix.shell }}, ${{ matrix.args.name }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - run: echo "PATH=$PATH:$HOME/.local/bin" >> "$GITHUB_ENV"
      - run: ${{ matrix.shell }} ./installer.sh ${{ matrix.args.value }}

      - run: wasp version
