name: Test installer

on:
  push:
    branches:
      - master
      # TODO: remove before merging
      - cprecioso/add-testing
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - macos-15-intel
        args:
          - name: bare
            value: ""
          - name: versioned
            value: "-v 0.18.0"

    name: Test installer (${{ matrix.os }}, ${{ matrix.args.name }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - run: echo "PATH=$PATH:$HOME/.local/bin" >> "$GITHUB_ENV"
      - run: ./installer.sh ${{ matrix.args.value }}

      - run: wasp version
