on:
  push:
    branches:
      - master
      # TODO: remove before merging
      - cprecioso/add-testing
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - macos-15-intel
        args:
          - ""
          - "-v 0.18.0"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - run: echo "PATH=$PATH:/root/.local/bin" >> "$GITHUB_ENV"
      - run: installer.sh ${{ matrix.args }}
      - run: wasp version
